<% content_for(:header_tags) do %>
<script type="text/javascript" src="/plugin_assets/redmine_backlogs/javascripts/jquery/jquery.jqplot/plugins//jqplot.highlighter.min.js"></script>
<script type="text/javascript" src="/plugin_assets/redmine_backlogs/javascripts/jquery/jquery.jqplot/plugins//jqplot.cursor.min.js"></script>
<script type="text/javascript" src="/plugin_assets/redmine_backlogs/javascripts/jquery/jquery.jqplot/plugins//jqplot.dateAxisRenderer.min.js"></script>

<style>
  table.progress td.done {
    background: #4BB2C5 none repeat scroll 0%;
  }

  table.progress td.closed {
    background: #EAA228 none repeat scroll 0%;
  }
</style>

<script>
  jQuery(document).ready(function(){
          
    var creationData =[
      <%- @created_issues.each do |item| -%>
        [ '<%= item['created'] %>', <%= item['total'] %> ], 
      <%- end -%>
    ]; 
    
    var updatedData =[
      <%- @updated_issues.each do |item| -%>
        [ '<%= item['updated'] %>', <%= item['total'].to_i + 2 %> ], 
      <%- end -%>
    ];   
    
    var historyPlot = jQuery.jqplot('creationchart', [creationData, updatedData], {
        title:'Histórico - Quantidade Total de Novas Tarefas',
        axes:{
          xaxis:{
            renderer:jQuery.jqplot.DateAxisRenderer,
            tickOptions:{
              formatString:'%b&nbsp;%#d'
            },             
          },
          yaxis:{
            tickOptions:{
              formatString:'%d',              
            },
            min: 0,            
            labelRenderer: jQuery.jqplot.CanvasAxisLabelRenderer,
            // label: 'Tarefas',
          }
        },
        highlighter: {
          show: true,
          sizeAdjust: 7.5
        },
        cursor: {
          show: false
        },
        legend: { show:true, location: 'e' },        
        seriesColors: [ "#507AAA", "#7aaa50"], 
        series: [ { label: 'Novas Tarefas' }, { label: 'Atualizações' } ],

    });
  });
</script>

<% end %>

<div id="creationchart"></div>
