<% content_for(:header_tags) do %>
<script type="text/javascript" src="/plugin_assets/redmine_backlogs/javascripts/jquery/jquery.jqplot/plugins/jqplot.highlighter.min.js"></script>
<script type="text/javascript" src="/plugin_assets/redmine_backlogs/javascripts/jquery/jquery.jqplot/plugins/jqplot.cursor.min.js"></script>
<script type="text/javascript" src="/plugin_assets/redmine_backlogs/javascripts/jquery/jquery.jqplot/plugins/jqplot.dateAxisRenderer.min.js"></script>

<style>
  table.progress td.done {
    background: #4BB2C5 none repeat scroll 0%;
  }

  table.progress td.closed {
    background: #EAA228 none repeat scroll 0%;
  }  
</style>

<script>
  jQuery(document).ready(function(){
          
    var openData =[
      <%- @open_issues.each do |item| -%>
        [ '<%= item[0] %>', <%= item[1] %> ], 
      <%- end -%>
    ];

    var closedData =[
      <%- @closed_issues.each do |item| -%>
        [ '<%= item[0] %>', <%= item[1] %> ], 
      <%- end -%>
    ];
    
    var historyPlot = jQuery.jqplot('historychart', [openData, closedData ], {
        title:'Histórico - Quantidade Total de Tarefas',
        axesDefaults: {
          // labelRenderer: jQuery.jqplot.CategoryAxisRenderer
        },
        axes:{
          xaxis:{
            renderer:jQuery.jqplot.DateAxisRenderer,
            // renderer:jQuery.jqplot.CategoryAxisRenderer,
            // labelRenderer: jQuery.jqplot.CanvasAxisLabelRenderer,
            tickOptions:{
              formatString:'%b&nbsp;%#d'
            },             
          },
          yaxis:{
            tickOptions:{
              formatString:'%.0f',              
            },
            min: 0,            
            labelRenderer: jQuery.jqplot.CanvasAxisLabelRenderer,
            // label: 'Tarefas',
          }
        },
        highlighter: {
          show: true,
          sizeAdjust: 13.5,
          // tooltipAxes: 'yaxis',
          // yvales: 1,
          // formatString: 'Total em %#d: %s tarefas(s)',
          // tooltipAxes: 'both',
        },
        cursor: {
          show: false
        },
        legend: { show:true, location: 'e' },        
        seriesColors: [ "#4BB2C5", "#EAA228" ], 
        series: [ { label: 'Pendente' }, { label: 'Terminado' } ],

    });
  });
</script>

<% end %>

<div id="historychart"></div>