<div id="status_graph_wrapper" style="margin: 8px auto; left: 0px;">
  <div id="status_graph" style="width: 310px; height: 250px;"></div> 
</div>

<% if @remaining_ratio && @done_ratio %>
<!-- Status Graph -->
<script type="text/javascript">
  (function () {
    var
      container = document.getElementById('status_graph'),
      d1 = [[0, <%= @remaining_ratio.nan? ? "0" : @remaining_ratio.to_i %>]],
      d2 = [[0, <%= @done_ratio.nan? ? "0" : @done_ratio.to_i %>]],         
      graph;
    
    graph = Flotr.draw(container, [
      { data : d1, label : 'Pendentes' },
      { data : d2, label : 'Fechados' }
    ], {
      HtmlText : false,
      grid : {
        verticalLines : false,
        horizontalLines : false
      },
      xaxis : { showLabels : false },
      yaxis : { showLabels : false },
      pie : {
        show : true, 
        explode : 0
      },
      mouse : { 
        track : true,
        trackFormatter: formatRadio     
      },
      legend : {
        position : 'ne',
        backgroundColor : '#D2E8FF'
      }
    });
  })();

  function formatRadio(obj) { 
    return obj.series["label"] + ": " + Math.round(obj.y); 
  }
</script>
<% end %>