<div id="tasks_graph" style="width: 310px; height: 250px; margin: 8px auto; left: 0px;"></div> 

<!-- Tasks Graph -->
<script type="text/javascript">

  // (function () {
  //   var
  //     container = document.getElementById('tasks_graph'),
  //     d1 = [[10, 1]],
  //     d2 = [[9, 2]],         
  //     d3 = [[7, 3]],         
  //     d4 = [[5, 4]],         
  //     d5 = [[5, 5]],         
  //     d6 = [[4, 6]],                   
  //     graph;
    
  //     graph = Flotr.draw(container, [
  //       { data : d1, label : 'Defeito' },
  //       { data : d2, label : 'Funcionalidade' },          
  //       { data : d3, label : 'Suporte' },          
  //       { data : d4, label : 'Gestão' },          
  //       { data : d5, label : 'Planejamento' },          
  //       { data : d6, label : 'Análise' },                    
  //     ], {
  //     HtmlText : false,
  //     grid : {
  //       verticalLines : false,
  //       horizontalLines : false
  //     },
  //     xaxis : { showLabels : false, min: 0 },
  //     yaxis : { showLabels : false, min: 0 },
  //     bars : {
  //       show : true,                         
  //       horizontal : true,
  //       barWidth : 0.6,
  //       lineWidth : 1,
  //       shadowSize : 0
  //     },
  //     mouse : { track : true },
  //     legend : {
  //       show: true,
  //       position : 'se',
  //       backgroundColor : '#D2E8FF'
  //     }
  //   });
  // })();
</script>